html,body{
  width:100%;
  height:100%;
  background-color: #e8e7dbff;
  overflow: hidden;
}

#menu-box {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-content:center;
    align-items:center;
    position:relative;
    z-index:2;
    pointer-events: none;
}
#menu-box.active > #menu-spacer {
    flex: 1;
}

#menu-spacer {
    flex: 0;
    transition-property: flex;
    transition-duration: 0.5s;
}

#menu-container {
    background-color: #e8e7dbff;
    border-color: #706d48ff;
    border-style: solid;
    overflow: hidden;
    border-width: 2.1mm;
    border-radius: 35%;
    width: 15vw;
    height:15vw;
    min-width: 100px;
    min-height: 100px;
    pointer-events: all;
}

.rotator {
    transition-duration: 0.5s;
    transition-property: rotate;
}

.menu-item {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0.7mm;
    background-color: #e8e7dbff;
    border-color: #706d48ff;

    transition-property: background-color;
    transition-duration: 0.1s;
}
.menu-item:hover {
    background-color: rgb(222, 220, 202);
}
.menu-item:focus {
    background-color: rgb(248, 247, 239);
}
.menu-item > button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#menu-container ul {
    all: unset;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#menu-container > ul > li:nth-child(1) {
    border-bottom-style: solid;
    border-right-style: solid;
}
#menu-container > ul > li:nth-child(2) {
    border-bottom-style: solid;
    border-left-style: solid;
}
#menu-container > ul > li:nth-child(3) {
    border-top-style: solid;
    border-right-style: solid;
}
#menu-container > ul > li:nth-child(4) {
    border-top-style: solid;
    border-left-style: solid;
}

#main-one {
    position: absolute;
    top: 0 ;
}

details > summary {
  list-style: none;
}
details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}